/* GLOBAL */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  color: white;
  background: #6986d1;
}

main {
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: -0.05em;
}

h2 {
  margin-left: 115px;
  font-size: 75px;
}

h3 {
  font-size: 50px;
  margin-left: 127px;
  margin-bottom: 93px;
  margin-top: 93px;
}

.name {
  font-size: 100px;
  text-align: center;
  margin-top: 540px;
}

.portfoolio {
  text-align: center;
  font-size: 60px;
}

.keeled {
  margin-bottom: 20px;
  margin-top: 20px;
  background: rgba(226, 234, 255, 0.51);
  border-radius: 30px;
  width: 300px;
  text-align: center;
  color: #445e9f;
}

/* SEKTSIOONID */

.tiitel,
.aboutme,
.galerii,
.kontakt {
  height: 1080px;
}

.tiitel {
  background: linear-gradient(180deg, #6986d1 0%, #53689d 100%);
}

.aboutme {
  background: linear-gradient(180deg, rgba(83, 104, 157, 0) 0%, #222327 100%),
    linear-gradient(180deg, #53689d 0%, rgba(255, 255, 255, 0) 100%),
    url(mountains-4356017_1920.jpg);
  display: flex;
}

.aboutme__left,
.aboutme__right {
  width: 50%;
}

.galerii {
  background: #222327;
  height: 1080px;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 115px;
}

img {
  margin-right: 10px;
}

.kontakt {
  background: linear-gradient(
    180deg,
    #222327 0%,
    #6986d1 99.99%,
    rgba(34, 35, 39, 0.1) 100%
  );
}

/* FORM */

input[type="text"],
select,
textarea {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 115px;
  display: block;
}

label {
  margin-left: 115px;
  font-size: 50px;
  line-height: 61px;
  margin-left: 127px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}

input[type="submit"]:hover {
  background-color: #6986d1;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #222327;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 115px;
  border-radius: 30px;
  font-size: 25px;
}

form {
  margin-top: 200px;
}
